	main{
		display: flex;
		width: 100vw;
		
		align-items: center;

	}

	#navbar{
		



	}	

	#navbar *{
		display: block;

	}

	#navbar > header{
		font-size: 30px;
		font-weight: bold;
		text-align: center;
		background-color: #bbb;
		padding: 10px;
		color: #333;
	}

	#navbar > a{
		padding: 5px 0px 5px 20px;
		text-decoration: none;
		color: #333;
		text-transform: capitalize;
		font-size: 16px;
		background-color: #aaa;
		border-bottom: solid 2px #000;
	}

	#navbar > a:hover{
		background-color: #ccc;
	}


	body{
		padding: 0px;
		margin: 0px;
		width: 100vw;
		
	}

	.body{
		padding: 0px;
		margin: 10px 0px 0px 20px;
		
		
		
	}

	.body  header{
		font-size: 25px;
		text-decoration: underline;
		padding: 10px 0px;
	}

	ul{
		list-style: none;
	}

	i{
		color: #aaf;
		cursor: pointer;
	}

	i a{
		padding: 0px 10px;
		font-weight: normal;
	}

	.fa-paperclip:hover{
		color: #33f;
	}

	code{
		display: block;
		padding: 20px;
		width: auto;
		position: relative;
		background-color: #ddd;
		border-radius: 10px;
		margin: 5px 0px;
	}



  @media (max-width:1000px) and (min-width:0px){
    main{
      flex-direction: column;
    }
    #navbar{
    	width: 100vw;
    	height: auto;
    }
    .body{
		height: auto;
    	overflow-x: hidden;
    	margin: 10px 0px 0px 0px;
    	width: 100vw;
		max-width: 90vw;
    }
    body{
		overflow-y: scroll;
		overflow-x: hidden;

    }
    main{
    	overflow-y: scroll;
    	overflow-x: hidden;
    	height: auto; 
    }
	}

	@media (min-width:1000px){
	main{
      flex-direction: row;
    }
    #navbar{
    	width: 20vw;
    	height: 100vh;
    }
    .body{
		height: 100vh;
    	overflow-x: hidden;
    	overflow-x: hidden;
    	margin: 10px 0px 0px 20px;
    	width: 80vw;
		max-width: 80vw;
    }
    body{
		overflow: hidden;
    }
    main{
    	overflow-y: hidden;
    	overflow-x: hidden;
    	height: 100vh; 
    }
	}

	
